@use "variables" as var;

@import url("https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&display=swap");

body {
  font-family: var.$font-family;
  color: var.$text-color--primary;
  line-height: 1.5;
}

h1 {
  font-size: var.$header-size--desktop;
}

.word-text {
  font-size: var.$category-text-size--desktop;
}

.category-label {
  font-size: var.$category-text-size--desktop;
}

button {
  font-family: var.$font-family;
  color: var.$text-color--primary;
  font-size: var.$button-text-size--desktop;
}

//* Tablet
@media (max-width: var.$tablet-cutoff) {
  h1 {
    font-size: var.$header-size--tablet;
  }

  button {
    font-size: var.$button-text-size--tablet;
  }

  .word-text {
    font-size: var.$button-text-size--tablet;
  }

  .category-label {
    font-size: var.$category-text-size--tablet;
  }
}

//* Mobile
@media (max-width: var.$mobile-cutoff) {
  h1 {
    font-size: var.$header-size--mobile;
  }

  button {
    font-size: var.$button-text-size--mobile;
  }

  .word-text {
    font-size: var.$category-text-size--mobile;
  }

  .category-label {
    font-size: var.$category-text-size--mobile;
  }
}
